<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="relative">
    <div fxLayout="column" fxLayoutAlign="center center" class="left">
      <img src="assets/images/logo-login.png" class="logo" routerLink="/">
      <router-outlet></router-outlet>
    </div>
    <div class="right">
      <img src="assets/images/support-local-business.png">
      <div class="shopping-bag">
        <img src="assets/images/shopping-bag.png">
      </div>
      <div class="shopping-car">
        <img src="assets/images/shopping-car.png">
      </div>
    </div>
  </div>
</div>


