<div class="margin-top title">
  <h1>{{'page.auth.createAccountTitle' | translate}}</h1>
</div>

<div class="form">
  <form class="example-form" [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>{{'forms.createAccount.firstName' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
        >
        <mat-error>{{('forms.error.' + displayError('name')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.createAccount.lastName' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="lastName"
        >
        <mat-error>{{('forms.error.' + displayError('lastName')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.createAccount.city' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="location"
        >
        <mat-error>{{('forms.error.' + displayError('location')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.createAccount.businessName' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="brand"
        >
        <mat-error>{{('forms.error.' + displayError('brand')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.createAccount.telephone' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="telephone"
        >
        <mat-error>{{('forms.error.' + displayError('telephone')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.createAccount.storeAddress' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="address"
        >
        <mat-error>{{('forms.error.' + displayError('address')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.createAccount.email' | translate}}</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
        >
        <mat-error>{{('forms.error.' + displayError('email')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.login.password' | translate}}</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
        >
        <mat-error>{{('forms.error.' + displayError('password')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.login.password' | translate}}</mat-label>
        <input
          type="password"
          matInput
          formControlName="password_confirmation"
        >
        <mat-error>{{('forms.error.' + displayError('password_confirmation')) | translate}}</mat-error>
      </mat-form-field>
    </div>
  </form>

  <div fxLayout="row" fxLayoutAlign="center center" class="margin-top">
    <button mat-raised-button (click)="submit()">{{'button.createAccount' | translate}}</button>
  </div>
</div>
