<div div fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button routerLink="/addEvent">{{'Adauga un eveniment nou' | translate}}</button>
  <button mat-raised-button routerLink="/" color="warn">{{'Delogheazate' | translate}}</button>
</div>

<div div fxLayout="row" fxLayoutAlign="center center">
  <div class="title margin-top">
    <h1>{{'Lista de evenimente' | translate}}</h1>
  </div>
</div>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nume eveniment </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Data evenimentului </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Ora </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Locatia </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Editare </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Stergere </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteEvent(element.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div div fxLayout="row" fxLayoutAlign="center center">
  <div class="title margin-top">
    <h1>{{'Lista de producatori' | translate}}</h1>
  </div>
</div>

<div>
  <table mat-table [dataSource]="usersList" class="mat-elevation-z8">

    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Nume producatorului </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef> Telefon </th>
      <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Stergere </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteUser(element.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
  </table>
</div>
