<div class="margin-top title">
  <h1>{{'page.auth.loginTitle' | translate}}</h1>
</div>

<div class="form">
  <form class="example-form" [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>{{'forms.login.email' | translate}}</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
        >
        <mat-error>{{('forms.error.' + displayError('email')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.login.password' | translate}}</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
        >
        <mat-error>{{('forms.error.' + displayError('password')) | translate}}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin-top">
    <button mat-button routerLink="/forgotPassword">{{'button.forgotPassword' | translate}}</button>
    <button mat-raised-button [disabled]="form.invalid" (click)="submit()">{{'button.login' | translate}}</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="margin-top">
    <button mat-button routerLink="/createAccount">{{'button.createAccount' | translate}}</button>
  </div>
</div>
