.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #7ABADD;
}
.left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.shopping-car {
  position:absolute;
  bottom:0;
  padding-left: 50%;

  img {
    width: 100%;
  }
}

.shopping-bag {
  position: absolute;
  padding-left: 70%;

  img {
    width: 60%;
  }
}

.logo {
  width: 80%;
  border-bottom: 1px solid #868686;
}

.form {
  padding: 10%;
}

::ng-deep{
  .mat-form-field {
    width: 500px !important;
  }

  .mat-form-field-infix {
    background-color: #d7eaf5;
  }

  .mat-raised-button {
    background-color: #7ABADD;
    color: #fff;
  }

  .mat-button {
    color: #7ABADD;
  }
}

.margin-top {
  margin-top: 5%;
}
