::ng-deep {
  .mat-form-field {
    width: 500px !important;
  }

  .mat-form-field-infix {
    background-color: #d7eaf5;
  }

  .mat-raised-button {
    background-color: #7ABADD;
    color: #fff;
  }

  .mat-button {
    color: #7ABADD;
  }
}

.form {
  padding-top: 5%;
}

.margin-top {
  margin-top: 5%;
}

.title {
  margin-left: 35%;
  color: #7ABADD;
  align-items: center;
}
