<div class="margin-top title">
  <h1>{{'page.auth.recoveryPassword' | translate}}</h1>
</div>

<div class="form">
  <form class="example-form" [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>{{'forms.login.email' | translate}}</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
        >
        <mat-error>{{('forms.error.' + displayError('email')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.forgotPassword.new' | translate}}</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
        >
        <mat-error>{{('forms.error.' + displayError('password')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'forms.forgotPassword.repeat' | translate}}</mat-label>
        <input
          type="password"
          matInput
        >
        <mat-error>{{('forms.error.' + displayError('password')) | translate}}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin-top">
    <button mat-button routerLink="/auth">{{'button.back' | translate}}</button>
    <button mat-raised-button>{{'button.save' | translate}}</button>
  </div>
</div>
