<div fxLayout="row" fxLayoutAlign="start center">
  <button mat-button routerLink="/administrator">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Inapoi
  </button>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
  <div class="title">
    <h1>{{'Adauga eveniment' | translate}}</h1>
  </div>
  <form [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>{{'Nume eveniment' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
        >
        <mat-error>{{('forms.error.' + displayError('name')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
<!--      <mat-form-field>-->
<!--        <mat-label>{{'Data' | translate}}</mat-label>-->
<!--        <input-->
<!--          type="text"-->
<!--          matInput-->
<!--          formControlName="date"-->
<!--        >-->
<!--        <mat-error>{{('forms.error.' + displayError('date')) | translate}}</mat-error>-->
<!--      </mat-form-field>-->

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" (dateInput)="date($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{('forms.error.' + displayError('date')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'Ora' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="time"
        >
        <mat-error>{{('forms.error.' + displayError('time')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'Oras' | translate}}</mat-label>
        <mat-select formControlName="location">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city.name">
            {{city.name}}
          </mat-option>
        </mat-select>
        <mat-error>{{('forms.error.' + displayError('location')) | translate}}</mat-error>
      </mat-form-field>

    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'Descriere' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="description"
        >
        <mat-error>{{('forms.error.' + displayError('description')) | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field>
        <mat-label>{{'Participantii la eveniment' | translate}}</mat-label>
        <input
          type="text"
          matInput
          formControlName="participants"
        >
        <mat-error>{{('forms.error.' + displayError('participants')) | translate}}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button (click)="submit()">{{'Adauga eveniment' | translate}}</button>
</div>
