<div fxLayout="row" fxLayoutAlign="center center" >
  <h1 class="title">{{'Detaliile Evenimentului' | translate}}</h1>
</div>

<mat-card class="card">
  <div  fxLayout="row" fxLayoutAlign=" startcenter">
    <div>
      <img src="assets/images/event-border.jpeg" class="logo" routerLink="/">
      <h2 class="brand">{{event.name}}</h2>
    </div>

    <div class="margin-left">
      <div class="margin-top">
        <span class="card-title">Data: </span>
        <span>{{event.date}}</span>
      </div>
      <div class="margin-top">
        <span class="card-title">Locația: </span>
        <span>{{event.location}}</span>
      </div>
      <div class="margin-top">
        <span class="card-title">Ora: </span>
        <span>{{event.time}}</span>
      </div>
      <div class="margin-top">
        <span class="card-title">Lista de participanți: </span>
        <span>{{event.participants}}</span>
      </div>
      <div class="margin-top">
        <span class="card-title">Detalii: </span>
        <span>{{event.description}}</span>
      </div>
    </div>
    <img id="myimage" [src]='thumbnail' />
  </div>

</mat-card>
