:host {
  .title {
    color: #7ABADD;
    font-size: 30px;
    margin-bottom: 5%;
  }
  .logo {
    width: 400px;
  }

  .margin-left {
    margin: 5%;
  }

  .margin-top {
    margin-top: 10px;
    font-size: large;
  }

  .card-title {
    color: #07364f;
    font-weight: bold;
  }

  .card {
    background-color: white;
  }

  .brand {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #7ABADD;
  }

}
