.title {
  margin-left: 30%;
  color: #7ABADD;
  font-size: 30px;
  margin-bottom: 5%;
}
.logo {
  width: 300px;
}

.margin-left {
  margin: 5%;
}

.margin-top {
  margin-top: 10px;
  font-size: large;
}

.card-title {
  color: #07364f;
  font-weight: bold;
}
