:host {
  .title {
    color: #7ABADD;
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 5%;
  }

  .card-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 26%;
    height: 130px;
    background-color: #7ABADD;
    margin: 2%;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
}
